

* {
    margin:0;
    padding:0;
    border: 0;
}

body {
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    background-image: url('./Images/background8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul {
    text-align: center;
    font-size: 20px;
    list-style: none;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
 }

.screen {
    height: 100vh;
    width: 100vw;
    
}

.projectscreen {
    height: auto;
    width: 100vw;
    max-width:100%;
    
}

.mainpage, .bio, .projects{
    height:100%;
    width:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.pdf {
    height:auto;
    width: 60%;
    padding:2%;
    background-color: white;
    background-size: cover;
    padding-bottom:3%;

}

.pdf h1 {
    font-size: 25px;
    text-align: center;
}

.pdf h2 {
    font-size: 20px;

}

.name {
    color:lavenderblush ;
    padding-left:5%;
  
}

.links li {
    display: inline;
    font-size: 25px;
    transition: font-size 250ms linear 0ms;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
    line-height: 300%;
   
    
}

.links li:hover{
  
    font-size: 30px;
   
    
}

.links a, .pagename, .text p, .codes p, 
.home a, .text h3, .codes h3, .codes h2, a {
    color:floralwhite;
}


.text {
    height:auto;
    width: 40%;
    border-radius: 3%;
    background-image: url('./Images/background9.png');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom:3%;
}

.pagename {
    text-align: center;
    font-size: 30px;
    position: relative;
    right: 16%;
}

.text p, .codes p, .text a {
    padding-left: 3%;
    padding-right: 3%;
}

.text p {
    font-size:18px;
    line-height: 150%;
    color: lavenderblush;
    font-weight: 650;
}

.home {
    display:inline-block;
    text-align: right;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 20%;
}

.nav {
    display:inline-block;
    text-align: center;
    position: fixed;
    bottom: 0px;
    top: 100px;
    right: 100px;
   
}

.home li {
    display: inline-block;

    padding-right:5%;
}

.home ul {
    text-align:left;
}

.home a, .text a, .nav a {
    font-size: 20px;
    transition: font-size 250ms linear 0ms;
}

.capstone_links a{
    font-size: 40px;
    transition: font-size 250ms linear 0ms;
}

.capstone_links a:hover {
    font-size: 50px;
}

.text a:visited {
    color:blue;
}

.home a:hover, .text a:hover, .nav a:hover {
    font-size: 25px;
}

.box {
    height: 10%;
    width: 45%;
    background-image: url('./Images/background10.png'); 
    border-radius: 3%;
}

.container {
    z-index: 1;
}

.mainpage .home {
    align-items: flex-start;
}

.codes, .bio {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 40%;
    background-image: url('./Images/background9.png');   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3%;
    padding-bottom: 1%;
    text-align: center;
}

.kaggle img {
    display:inline-block;
    height: auto;
    width: 100%; 
    vertical-align: bottom;
    border-radius: 2%;
}

.kaggle {
    position: relative;
    height:auto;
    width:85%;
    margin:0 auto;
    
}

.kaggle a {
    
    display: inline-block;
   
}

.projects, .bio {
    display: inline-flex;
    flex-direction: column;
}

.text h3, .codes h3{
    text-align: center;
    padding: 3%;
    font-size:35px;
}

.codes h2 {
    padding-left:3%;
}

.overlay, .overlay1, .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image:url('./Images/background2.png') ;
    border-radius: 2%;
  }
  
  .kaggle:hover .overlay,.kaggle:hover .overlay1,.kaggle:hover .overlay2 {
    opacity: .9;
  }
  
.python, .sql {
    padding: 3%;
}

.overlay p, .overlay1 p, .overlay2 p {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 30%;
    
}

footer {
    max-height:1%;
    position:relative;
    left:0;
    bottom:0;
    right:0;
    background-color: black;
}



footer a {
    color: floralwhite;
}

